<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtaxSignUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EtaxSignUtil.Properties.Settings>
            <setting name="IsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Token_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Token_ProviderName" serializeAs="String">
                <value />
            </setting>
            <setting name="Token_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Token_LibPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Java_FileName" serializeAs="String">
                <value />
            </setting>
        </EtaxSignUtil.Properties.Settings>
    </userSettings>
</configuration>